/*IMAGEN FONDO DE PANTALLA*/
.nav-inicio {
  width: 100%;
 height: 80px;
  background-color: rgb(241, 241, 125);
  position: absolute;
  margin-top: 30px;
  border-radius: 40px;
}
body {
  flex-wrap: wrap;
  background-color:rgb(34, 31, 31) ;
  background-size: cover;
  margin: 0;
  padding: 0;
}

/*NAVEGADOR FIJO A SCROLL*/

.backgraund-nav{
  height: 120px;
  width: 100%;
  background-color: black;
  position: fixed;
  box-shadow: 3px 3px 10px yellow;
  z-index: 100000;
  
}

.margintop {
  padding-top: 15vh;
}

.card {
  border-radius: 10px;
  overflow: hidden;
  background: black;
  box-shadow: 0px 1px 10px rgb(255, 183, 0);
  transition: all 400ms ease;
  max-width: 267px;
  padding: 0;
  margin: 30px auto;
  flex-direction: column;
}
.card:hover {
  box-shadow: 5px 5px 20px yellow;
  transform: translateY(-5%);
  max-width: 267px;
}
.img-card {
  margin: 0;
  padding: 0;
  max-width: 245px;
  max-height: 245px;
}

.card img {
  padding: 15px;
  border-radius: 30px;
}
.card{
  margin: 20px auto;
  display: flex;
  max-width: 445px;
  max-height: 445px;

}
 .titulo-item {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(255, 183, 0);
  text-align: center;
  background-color: rgb(16, 19, 17);
  margin: 0;
  padding: 5px;
  border-top: 3px solid rgb(255, 183, 0);
  border-bottom: 3px solid rgb(255, 183, 0);
}
.button-card{
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(255, 183, 0);
  text-align: center;
  background-color: rgb(16, 19, 17);
  margin: 0;
  padding: 5px;
  border-top: 3px solid rgb(255, 183, 0);
  border-bottom: 3px solid rgb(255, 183, 0);
}
.button-card:hover{
  background-color: rgb(49, 49, 49);
  transition: 0.5s;
}

 .contenido-item {
  background-color: rgb(192, 189, 20);
  color: rgb(5, 5, 5);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  padding: 5px;
  max-width: 267px;
  padding: 0;
  margin: 0;
}
.price{
  color: green;
  font-size: 20px;
  text-align: center;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(19, 19, 16);

}

.titulo-item {
  font-size: medium;
  color: aliceblue;
  text-align: center;
  background-color: #272727;
  border: 2px solid  rgb(248, 183, 3);
}

.img-card {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 230px;
  max-height: 230px;
}

.card-container {
  width: 100%;
 display: flex;
  justify-content:center;

}

.card-container-1{
  display: flex;
  margin: 0 auto;
  padding: 0 auto;
  width: 100%;
  align-items: center;
  justify-content: center;

}


.carritoCont{
  display: flex;
  flex-direction: row;
  background-color: rgb(16, 19, 17);
  border: 3px solid rgb(255, 183, 0);
  max-width: 600px;
  justify-content: left;
  margin: 10px 0px;
  align-items: center;
}
.carritoCont:hover{
  transform: translatex(3%);
  transition: 800ms;
}

.titulo-item-1
{
  width: 500px;
  height: 45px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 12px;
  color: rgb(250, 179, 0);
  background-color: rgb(16, 19, 17);
  margin: 0;
}
.titulo-item-2
{
  width: 400px;
  height: 45px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  color: aliceblue;
  background-color: rgb(16, 19, 17);
  margin: 0;
}
.titulo-item-3
{
  width: 500px;
  height: 45px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  color: aliceblue;
  background-color: rgb(16, 19, 17);
  margin: 0;
  border: 3px solid rgb(255, 183, 0);
}
.titulo-item-3:hover
{
  width: 500px;
  height: 45px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  color: aliceblue;
  background-color: rgb(19, 66, 35);
  margin: 0;
  transition: 500ms;
}
.boton{
  width: 50px;
  height: 45px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(250, 179, 0);
  background-color: rgb(16, 19, 17);
  margin: 10px;
  border: 3px solid rgb(255, 183, 0);
 
}
.boton:hover{
  width: 50px;
  height: 45px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(250, 179, 0);
  background-color: rgb(49, 73, 57);
  margin: 10px;
  border: 3px solid rgb(255, 183, 0);
  transition: 200ms;
}

.buttonCont{
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 150px;
  border: none;
  background-color: #FFFF56;
  overflow: hidden;
  margin:10px ;
}
.imgCardCart{
  height: 50px;
  width: 50px;
  margin: 5px;
}
